// 颜色定义规范
$color-background = #f4f4f4
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #fff
$color-line = #ccc
$color-background-bar=#ebebeb

$color-theme = #378bc4
$color-sub-theme =#ff3838
$color-lab-theme = #42b642

$color-title=#333
$color-title-s=#555
$color-wb = #666
$color-7=#777
$color-lab=#999
$color-c=#ccc

$color-d = rgba(255, 255, 255, 0.3)
$color-l = rgba(255, 255, 255, 0.5)
$color-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 1rem
$font-size-small = 1.2rem
$font-size-medium = 1.4rem
$font-size-medium-x = 1.6rem
$font-size-large = 1.8rem
$font-size-large-x = 2.2rem

$round-theme=.5rem
$round-sub-theme=1rem
$round-theme-l=5rem

$z-index10=10
$z-index20=20
$z-index30=30
$z-index40=40
$z-index50=50
